{% extends 'layout.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
{% if cart_products %}

	<h2 class="mx-4 my-0">Your Cart</h2>
		<br/>
	<div class="row justify-content-around">
	{% for product in cart_products %}

		<div class="card col-5 m-2 p-0">
			<div class="card-body">
				<p class="card-text">
		
					<div class="container">
						<div class="row">
							<div class="col-12">
				
						<strong>Name:</strong>
						{{ product.product }}<br/>
				
						<strong>Quantity:</strong>
						{{ product.quantity }} {{product.unit.split('/')[1]}}s<br/>

						<strong>Price per unit:</strong>
						Rs. {{ product.unitprice }}<br/>

						<strong>Sub Total:</strong>
						Rs.{{ product.quantity*product.unitprice }}<br/>
						
						<form method="post", action="{{ url_for('cart') }}">
							<input type="hidden" name="remove_product" value="{{ product.id }}"/>
							<button type="submit" class="btn btn-sm btn-dark block my-2">Remove from cart</button>
						</form>
				
							</div>
						</div>
					</div>
				</p>
			</div>
		</div>

		{% endfor %}

	</div>
			<div class="row justify-content-center px-3">
				<div class="card col-12 m-2 p-0">
					<div class="card-body">
						<p class="card-text">
							<div class="container">
								<div class="row">
									<div class="col-12 d-flex justify-content-around">

								<strong>Your total:
								Rs.{{ cart_total }}</strong><br/>
								
								<form method="post", action="{{ url_for('cart') }}">
									<button type="submit" class="btn btn-sm btn-dark block">Buy</button>
								</form>
									</div>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
{% else %}
<div class="row justify-content-center px-3">
	<div class="card col-12 m-2 p-0">
		<div class="card-body">
			<p class="card-text">
				<div class="container">
					<div class="row">
						<div class="col-10">

					<strong>Your cart is empty</strong><br/>
					
						</div>
					</div>
				</div>
			</p>
		</div>
	</div>
</div>

{% endif %}
</div>


{% endblock %}