{% extends 'layout.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}


	<h2>Dashboard</h2>
	<br/>

	<div class="card">
        
  <div class="card-body">
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Name:</strong>
	{{ current_user.fullname }}<br/>

	<strong>Username:</strong>
	{{ current_user.username }}<br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/>
	
	<strong>Role:</strong>
	{{ current_user.role }}<br/>  
    </p>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
    <br/><br/>
	</div>
	</div>
	</div>
  </div>
</div>

{% if current_user.role=='admin' %}
<div class="card my-3">
	<h2 class="card-header">Products Sold</h2>
	<div class="card-body">
		<canvas id="myProductBarGraph"></canvas>
        <script>
            var ctx = document.getElementById('myProductBarGraph').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for x in product_labels%}"{{x}}",{%endfor%}],
                    datasets: [{
                        label: "Products Sold",
                        data: [{%for d in product_values%}{{d}},{%endfor%}],
                        borderwidth: 5
                    }]
                },
                options: {scales: {y:{beginAtZero: true}}}
            });
        </script>
	</div>

</div>

<div class="card my-3">
	<h2 class="card-header">Category-wise Products Sold</h2>
	<div class="card-body">
		<canvas id="myCategoryBarGraph"></canvas>
        <script>
            var ctx = document.getElementById('myCategoryBarGraph').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for x in category_labels%}"{{x}}",{%endfor%}],
                    datasets: [{
                        label: "Category-wise Products Sold",
                        data: [{%for d in category_values%}{{d}},{%endfor%}],
                        borderwidth: 5
                    }]
                },
                options: {scales: {y:{beginAtZero: true}}}
            });
        </script>
	</div>

</div>

{% endif %}
{% endblock %}