{% extends 'layout.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<h2>Update {{ product.name }}</h2>
	<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		<strong>{{ form.price.label(class="form-label") }}</strong>

		{% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                    <small>Previous price was {{ product.price }}</small>
            {% endif %}
		<br/><br/>

        <strong>{{ form.stock.label(class="form-label") }}</strong>

		{% if form.stock.errors %}
                    {{ form.stock(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.stock.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.stock(class="form-control form-control-lg") }}
                    <small>Previous stock was {{ product.stock }}</small>
            {% endif %}
		<br/><br/>

        <strong>{{ form.manufacturingdate.label(class="form-label") }}</strong>

		{% if form.manufacturingdate.errors %}
                    {{ form.manufacturingdate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.manufacturingdate.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.manufacturingdate(class="form-control form-control-lg") }}
                    <small>Previous manufacturing date was {{ product.manufacturingdate.date() }}</small>
            {% endif %}
		<br/><br/>

        {% if product.expirydate %}
        <strong>{{ form.expirydate.label(class="form-label") }}</strong>

		{% if form.expirydate.errors %}
                    {{ form.expirydate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.expirydate.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.expirydate(class="form-control form-control-lg") }}
                    <small>Previous expiry date was {{ product.expirydate.date() }}</small>
            {% endif %}
		<br/><br/>
        {% endif %}

        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>
{% endblock %}